*{
    margin: 0;
    border: border-box;
}
.nav {
    background-color: #62B3EA;
    height: 40px;
    margin: 0;
    display: flex;
}

body{
    background-color: rgb(4, 4, 36);
}
h1 {

    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    padding-left:60px ;
    padding-top: 05px;
    }
ul {
    flex: 1;
    text-align: center;
}
ul li{
    list-style: none;
    display: inline-block;
    padding-top: 10px;
    margin: 0 80px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Victor Mono', monospace;
    font-size: 20px;

}
i {
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 100px;
    font-size: 20px;
}
.ll{
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Victor Mono', monospace;
    padding-right: 100px;
    padding-top: 10px;
}
p{
    font-size: 120px;
    color: #62B3EA;
    font-family: 'Anton', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Victor Mono', monospace;
    padding-top: 100px;
    padding-left: 300px;
    

}
.les{
    padding-top: 0;
}
.choto {
    font-size: 20px;
    padding-top: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Kanit', sans-serif;
}
.choto2 {
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Anton', sans-serif;
    font-family: 'Kanit', sans-serif;
}
.signup {
    height: 400px;
    width: 350px;
   background-color:#62B3EA;
   border-radius: 5px; 
    position: absolute;
    top: 150px;
    right: 250px;
    
}
.ppt {
    
    text-align: center;
    position: relative;
    right: 25px;
    top: 30px;
}
.form {
    text-align: center;
    padding-top: 60px;
    
}
.kki {
    border: 2px solid black;
    border-radius: 4px;
    background-color: #62B3EA;
    font-size: 15px;
}   
.kks {
    background-color: #62B3EA;   
}




